# Python dosyaları
__pycache__/
*.py[cod]
*$py.class

# Veri ve Model Dosyaları
*.pt
*.pth
*.onnx
*.tflite
*.pb
checkpoints/
runs/
results/
outputs/
logs/
*.log

# Sanal Ortamlar (Environments)
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Geliştirme Ortamı (IDE)
.vscode/
.idea/
*.swp
*.swo

# İşletim Sistemi Dosyaları
.DS_Store
Thumbs.db
Desktop.ini

# Derleme ve Dağıtım (Build)
dist/
build/
*.egg-info/

# Test ve Kapsam
.pytest_cache/
.coverage
htmlcov/

# Jupyter Notebook
.ipynb_checkpoints

# Veri Setleri
ISSAI_TSC_218/
data/raw/
data/processed/
temp_test_data/
